<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="MONGODB_URL" value="mongodb://root:root123@mongodb:27017"/>
        <env name="MONGODB_DB" value="ets_emea_test"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value=""/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ symfony/routing ### -->
        <!-- Configure how to generate URLs in non-HTTP contexts, such as CLI commands. -->
        <!-- See https://symfony.com/doc/current/routing.html#generating-urls-in-commands -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="8e1058bf7a471a9ba72cb3bd89f2a76be8faa0f9e8c2e0aef857b30ec67f653a"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="'^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'"/>
        <!-- ###- nelmio/cors-bundle ### -->
    </php>
</phpunit>